@model List<HomeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach(var home in Model)
            {

<div class="card">
    <div class="card-header">
        <img src="@home.ImagePath" alt="Alternate Text" />
    </div>
    <div class="card-body">
        <p>Цена....@home.Price c.</p>
        <p>Срок кредита....@home.CreditTerm</p>
        <p>Адрес....@home.Price</p>
        <p>Ежемесячно....@(home.Price/home.CreditTerm)</p>
    </div>
</div>
            }